<?xml version="1.0"?>

<launch>

    <param name="/use_sim_time" value="true"/>
    
    <!-- Map server -->
    <arg name="map_file" default="$(find robot_navigation)/maps/test1.yaml"/>
    <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>
    
    <!-- move_base -->
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS"/>
        <rosparam file="$(find robot_navigation)/config/costmap_common_params.yaml" command="load" ns="global_costmap" /> 
        <rosparam file="$(find robot_navigation)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find robot_navigation)/config/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find robot_navigation)/config/global_costmap_params.yaml" command="load" /> 
        <rosparam file="$(find robot_navigation)/config/dwa_local_planner_params.yaml" command="load" />
        <rosparam file="$(find robot_navigation)/config/move_base_params.yaml" command="load" />
    </node>
    
    
    
</launch> 

